@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
    nocompatible: true;
}

:global(pre span.token) {
    background-color: transparent !important;
}

pre span.token {
    background: transparent !important;
}